.footer-container h1,
.footer-container a{
    color: white;
}
.footer-container h1,
.footer-container p{
    text-align: center;
}
.footer-container{
    height: 200px;
    background-color: #1d1c1c; 
    padding-top: 25px;
}
.footer-container .links{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 !important;

}
.footer-container li{
    list-style: none;
    font-size: 20px;
    width: 20px;
}
.links a{
    width: 20px;
}
.links a:hover{
    color: rgb(139, 237, 237);
    transition: 0.3s;
}
.footer-brand{
    display: flex;
    justify-content: center;
}
.footer-brand a{ 
    color: rgb(21, 122, 206);
    font-size: 2.3rem;
    text-decoration: none;
    font-family: 'Great Vibes',cursive;/* font*/
}
.follow h1{
    font-size: 1.4rem;
}
p{
    font-size: 15px;
    color: #bfc9ca;
}
@media (max-width: 800px) {
    .footer-container{
        height: 175px;
        background-color: #1d1c1c; 
        padding-top: 14px;
    }
    .follow h1{
        margin-bottom: 4px;
    }
    .footer-container p{
        margin-bottom: 5px;
    }
    .links{
        margin-bottom: 8px;
    }
}