@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Rowdies:wght@300;400;700&family=Domine:wght@400..700&display=swap');
/* family=Rowdies:wght@300;400;700&display=swap */
/* main{
    background-color: #008c8c;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
} */
    main{
        background-color: #fff5f5;
background-image: url("https://www.transparenttextures.com/patterns/connected.png");
        padding: 20px 0;
    }
